<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f3328fcd3b193f5a2a36e59100533213 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f3328fcd3b193f5a2a36e59100533213" ></div>
        
</body>
<script>    
    
            var map_f3328fcd3b193f5a2a36e59100533213 = L.map(
                "map_f3328fcd3b193f5a2a36e59100533213",
                {
                    center: [35.6645, 139.7104],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f7c52cc563b15066df78a528c8ec1f3c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
            var marker_544d539e6cf42030c69bcd6d324a4a1c = L.marker(
                [34.665394, 135.432526],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_115690bb565f21a8ea0c017fd40ac0b9 = L.popup({"maxWidth": "100%"});

        
            var html_1360dbf43d6652bc57aaa091dc98f46e = $(`<div id="html_1360dbf43d6652bc57aaa091dc98f46e" style="width: 100.0%; height: 100.0%;">Universal Studios Japan</div>`)[0];
            popup_115690bb565f21a8ea0c017fd40ac0b9.setContent(html_1360dbf43d6652bc57aaa091dc98f46e);
        

        marker_544d539e6cf42030c69bcd6d324a4a1c.bindPopup(popup_115690bb565f21a8ea0c017fd40ac0b9)
        ;

        
    
    
            var marker_c6c3b20f3e7a1fe7ff42fab137e2627d = L.marker(
                [34.7043116087, 135.494924901],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_b7ee93ab25581b36b8097baf79e22737 = L.popup({"maxWidth": "100%"});

        
            var html_da2fb5b29a4fb06105ecaf6d7e38a12d = $(`<div id="html_da2fb5b29a4fb06105ecaf6d7e38a12d" style="width: 100.0%; height: 100.0%;">グランフロント大阪</div>`)[0];
            popup_b7ee93ab25581b36b8097baf79e22737.setContent(html_da2fb5b29a4fb06105ecaf6d7e38a12d);
        

        marker_c6c3b20f3e7a1fe7ff42fab137e2627d.bindPopup(popup_b7ee93ab25581b36b8097baf79e22737)
        ;

        
    
    
            var marker_05ffb61d258cac8b670446c6155e8f34 = L.marker(
                [34.7053101, 135.4898947],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_d9ce4e6866bcb1abf25e58dfc9f227b6 = L.popup({"maxWidth": "100%"});

        
            var html_55bdb8c86a340cb2fcd71484bc462a46 = $(`<div id="html_55bdb8c86a340cb2fcd71484bc462a46" style="width: 100.0%; height: 100.0%;">梅田スカイビル 空中庭園展望台</div>`)[0];
            popup_d9ce4e6866bcb1abf25e58dfc9f227b6.setContent(html_55bdb8c86a340cb2fcd71484bc462a46);
        

        marker_05ffb61d258cac8b670446c6155e8f34.bindPopup(popup_d9ce4e6866bcb1abf25e58dfc9f227b6)
        ;

        
    
    
            var marker_01bb1f8ba683c00f75db5cef0325317e = L.marker(
                [34.6917263, 135.4919747],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_cd7c15958cfbda204955b7b1aae6e9aa = L.popup({"maxWidth": "100%"});

        
            var html_116669f7106ef6a1fc834805821ae70b = $(`<div id="html_116669f7106ef6a1fc834805821ae70b" style="width: 100.0%; height: 100.0%;">国立国際美術館</div>`)[0];
            popup_cd7c15958cfbda204955b7b1aae6e9aa.setContent(html_116669f7106ef6a1fc834805821ae70b);
        

        marker_01bb1f8ba683c00f75db5cef0325317e.bindPopup(popup_cd7c15958cfbda204955b7b1aae6e9aa)
        ;

        
    
    
            var marker_1dfbce4029815319f4f662882edda348 = L.marker(
                [34.691261, 135.4915691],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_eba402bb9647ac51ec3f75af5a1f5218 = L.popup({"maxWidth": "100%"});

        
            var html_064bdb394ea557ac2a7575877a6ccb9f = $(`<div id="html_064bdb394ea557ac2a7575877a6ccb9f" style="width: 100.0%; height: 100.0%;">大阪市立科学館</div>`)[0];
            popup_eba402bb9647ac51ec3f75af5a1f5218.setContent(html_064bdb394ea557ac2a7575877a6ccb9f);
        

        marker_1dfbce4029815319f4f662882edda348.bindPopup(popup_eba402bb9647ac51ec3f75af5a1f5218)
        ;

        
    
    
            var marker_26e83e260ad4a66c20831cc88f83c86e = L.marker(
                [34.6616617, 135.50209],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_870fc1cc8911ce1d1e63ffb0660e09a8 = L.popup({"maxWidth": "100%"});

        
            var html_329c5f2214b87fc03e841bcd77d4caba = $(`<div id="html_329c5f2214b87fc03e841bcd77d4caba" style="width: 100.0%; height: 100.0%;">なんばパークス</div>`)[0];
            popup_870fc1cc8911ce1d1e63ffb0660e09a8.setContent(html_329c5f2214b87fc03e841bcd77d4caba);
        

        marker_26e83e260ad4a66c20831cc88f83c86e.bindPopup(popup_870fc1cc8911ce1d1e63ffb0660e09a8)
        ;

        
    
    
            var marker_f998c19e5380ef9cf33bc7b1aae62e8d = L.marker(
                [34.6564274, 135.43092298],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_44b46064dc5b36bad88f9bfc341b1b20 = L.popup({"maxWidth": "100%"});

        
            var html_c3e20c2301bf8061761d7c2b90f62967 = $(`<div id="html_c3e20c2301bf8061761d7c2b90f62967" style="width: 100.0%; height: 100.0%;">天保山大観覧車</div>`)[0];
            popup_44b46064dc5b36bad88f9bfc341b1b20.setContent(html_c3e20c2301bf8061761d7c2b90f62967);
        

        marker_f998c19e5380ef9cf33bc7b1aae62e8d.bindPopup(popup_44b46064dc5b36bad88f9bfc341b1b20)
        ;

        
    
    
            var marker_4cd2fcb4744cd8bd71bb9b0a6659605b = L.marker(
                [34.6547388, 135.429007],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_17505d2c2b5e8efc717baed9b60a1a2b = L.popup({"maxWidth": "100%"});

        
            var html_7d416d95ada455654cfaa783c6a99807 = $(`<div id="html_7d416d95ada455654cfaa783c6a99807" style="width: 100.0%; height: 100.0%;">海遊館</div>`)[0];
            popup_17505d2c2b5e8efc717baed9b60a1a2b.setContent(html_7d416d95ada455654cfaa783c6a99807);
        

        marker_4cd2fcb4744cd8bd71bb9b0a6659605b.bindPopup(popup_17505d2c2b5e8efc717baed9b60a1a2b)
        ;

        
    
    
            var marker_c35fb64ab8edecb7aa3265d15d0b5909 = L.marker(
                [34.67049, 135.45959],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_a39c02c05e2971bbfe24ab0ba132c3e9 = L.popup({"maxWidth": "100%"});

        
            var html_6bb5344583f8b55e9eb1eba039b7240c = $(`<div id="html_6bb5344583f8b55e9eb1eba039b7240c" style="width: 100.0%; height: 100.0%;">空庭温泉 OSAKA BAY TOWER</div>`)[0];
            popup_a39c02c05e2971bbfe24ab0ba132c3e9.setContent(html_6bb5344583f8b55e9eb1eba039b7240c);
        

        marker_c35fb64ab8edecb7aa3265d15d0b5909.bindPopup(popup_a39c02c05e2971bbfe24ab0ba132c3e9)
        ;

        
    
    
            var marker_df030506ade82bfdbc5ec60797aecbe0 = L.marker(
                [42.952518, 141.116439],
                {}
            ).addTo(map_f3328fcd3b193f5a2a36e59100533213);
        
    
        var popup_aa830da0fc2bf7015b8bb06755696e8b = L.popup({"maxWidth": "100%"});

        
            var html_cabd304bacbd6c5905c142240cda5e2d = $(`<div id="html_cabd304bacbd6c5905c142240cda5e2d" style="width: 100.0%; height: 100.0%;">定山渓温泉</div>`)[0];
            popup_aa830da0fc2bf7015b8bb06755696e8b.setContent(html_cabd304bacbd6c5905c142240cda5e2d);
        

        marker_df030506ade82bfdbc5ec60797aecbe0.bindPopup(popup_aa830da0fc2bf7015b8bb06755696e8b)
        ;

        
    
</script>